.sort__name {
    margin: 0;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

@media screen and (max-width: 1020px) {
    .sort__name {
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 18px;
    }
  }