.pages__list {
    width: 185px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

@media screen and (max-width: 1020px) {
    .pages__list {
        width: 150px;
    }
  }

  @media screen and (max-width: 500px) {
    .pages__list {
        width: 100px;
    }
  }