.element__list_drift {
    font-style: italic;
      font-size: 16px;
      line-height: 20.7px;
      margin-top: 12px;
}

@media screen and (max-width: 1200px) {
  .element__list_drift {
    font-size: 12px;
    line-height: 16px;
  }
}
