.news__subtitles {
    display: flex;
    flex-direction: column;
    width: 89px;
}

@media and screen (max-width: 1280px) {
    .news__subtitles {
        width: 66px;
    }
}

@media and screen (max-width: 1280px) {
    .news__subtitles {}
}