.news__bg {
    background-color: #323232;
    width: 34%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .news__bg {
      width: 33%;
        max-height: 380px;
    }
}

@media screen and (max-width: 680px) {
    .news__bg {
        max-width: 336px;
        height: 60px;
        background-color: white;
    }
}
