.element__list {
    margin: 0;
    margin-bottom: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.12px;
}

@media screen and (max-width: 1200px) {
    .element__list {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
    }
  }
