.news__title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 680px) {
  .news__title-row {
      display: none;
  }
}
