.element__title {
    margin: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-family: 'WF';
    line-height: 100%;
}

@media screen and (max-width: 1200px) {
    .element__title {
        margin-top: 12px;
        font-size: 18px;
        line-height: 22px;
    }
  }

  @media screen and (max-width: 440px) {
    .element__title {
        display: none;
    }
  }
