.news__slider-items {
    max-height: 443px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-left: 20px;
}

.news__slider-items::-webkit-scrollbar {
  height: 4px;
  background-color: #fff;

}

.news__slider-items::-webkit-scrollbar-thumb {
  background-color: #323232;
}

@media screen and (max-width: 1280px) {
    .news__slider-items {
        max-width: 515px;
        max-height: 286px;
        margin-left: 12px;
    }
}

@media screen and (max-width: 680px) {
    .news__slider-items {
        flex-direction: column;
        overflow:hidden;
        overflow-y:hidden;
    }
}
