.news__slider {
    height: 560px;
    display: flex;
    flex-direction: column;
    width: 963px;
    justify-content: flex-start;
}

@media screen and (max-width: 1336px) {
    .news__slider {
      width: 800px;
    }
}

@media screen and (max-width: 1280px) {
  .news__slider {
    width: 515px;
  }
}

@media screen and (max-width: 680px) {
    .news__slider {
      margin-top: 16px;

    }
}
