.description__menu-card-text {
    box-sizing: border-box;
    text-align: left;
    max-width: 498px;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 36px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(50, 50, 50, 0.5);
}

@media screen and (max-width: 1280px) {
    .description__menu-card-text {
        font-size: 14px;
        line-height: 18.13px;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 680px) {
    .description__menu-card-text {
        font-size: 12px;
        line-height: 15.54px;
        margin-bottom: 29px;
    }
}