.header__menu-element_active {
  border-bottom: 1px solid rgba(50, 50, 50, 1);
  margin-bottom: -1px;
}
@media screen and (max-width: 760px) {
  .header__menu-element_active {
    border-bottom: none;
    margin-bottom: 0;
  }
}
