.tags__tag {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323232;
  margin: 0;
}
@media screen and (max-width: 680px) {
  .tags__tag {
    font-size: 12px;
    line-height: 16px;
  }
}
