.media__title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

@media screen and (max-width: 1280px) {
  .media__title-row {
    margin-bottom: 16px;
  }
}
