.media__item-text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(245, 245, 245, 1);
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 24px;
}