.elements {
    margin: 52px auto 40px;
    max-width: 1144px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 62px;
    justify-content: space-between;
    justify-items: center;
}

  @media screen and (max-width: 1200px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-content: center;
        margin-top: 35px;
        max-width: 450px;
    }
  }

  @media screen and (max-width: 500px) {
    .elements {
        grid-gap: 10px;
    }
  }

  @media screen and (max-width: 440px) {
    .elements {
      margin: 0;
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      height: 352px;
      margin-bottom: 137px;
      position: relative;
    }
  }
