.news__slider-item {
    display: flex;
    flex-direction: column;
    width: 328px;
    margin: 0;
    padding: 0;
    margin-bottom: 96px;
    margin-left: 20px;
}
.news__slider-item:first-of-type {
  margin-left: 0;
}


@media screen and (max-width: 1280px) {
    .news__slider-item {
        width: 180px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 680px) {
    .news__slider-item {
        width: 336px;
        height: 246px;
        margin-bottom: 16px;
    }
}
