.pages {
    width: 678px;
    margin: 0 auto;
    margin-bottom: 94px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1020px) {
    .pages {
        width: 400px;
    }
  }

  @media screen and (max-width: 500px) {
    .pages {
        width: 350px;
    }
  }

  @media screen and (max-width: 440px) {
    .pages {
        display: none;
    }
  }
