.news-card__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 7% 0 9%;
  padding: 0;
  color: rgba(50, 50, 50, 0.6);
  text-overflow: ellipsis;
}
