.news-card__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 7% 0 9%;
  padding: 0;
  color: rgba(50, 50, 50, 0.6);
  text-overflow: ellipsis;
}

@media screen and (max-width: 680px) {
  .news-card__description {
    margin: -24% 0;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 14px;
    line-height: 18px;
    color: black;
  }
}
