.news-card {
  display: flex;
  flex-direction: column;
  max-width: 328px;
  padding: 0;
  margin: 0 auto;
}

.news-card:hover {
  opacity: 0.8;
}

@media screen and (max-width: 680px) {
  .news-card {
    display: grid;
    
  }
}
