.media__item-type {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(245, 245, 245, 1);
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 16px;
}