.sort__list {
    margin: 0;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.12px;
    text-align: center;
}

@media screen and (max-width: 1020px) {
    .sort__list {
        font-size: 12px;
        line-height: 16px;
    }
  }

  @media screen and (max-width: 500px) {
    .sort__list {
        font-size: 10px;
        line-height: 16px;
    }
  }