.sort {
    margin: 0 auto;
    max-width: 574px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1020px) {
    .sort {
        width: 482px;
    }
  }

  @media screen and (max-width: 500px) {
    .sort {
        width: 400px;
    }
  }