.page-main {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'WF', 'PT Sans', sans-serif;
    height: 100%;
}