.news__img-kniga {
    width: 212px;
    height: 223px;
    margin: 0;
    margin-left: 18px;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 1280px) {
    .news__img-kniga {
        width: 102px;
        height: 120px;
        margin-left: 8.5px;
    }
}


@media screen and (max-width: 680px) {
  .news__img-kniga {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 336px;
    height: 160px;
    overflow: hidden;
    margin-left: 0;

  }
}
