.element {
    /*width: 328px;*/
    max-height: 526px;
    background-color: #E7E4DE;
    border-radius: 8px;
    position: relative;
}

.element:hover {
    opacity: 80%;
}

@media screen and (max-width: 1200px) {
    .element {
        width: 175px;
        height: 277px;
    }
  }

  @media screen and (max-width: 440px) {
    .element {
        width: 252px;
        height: 352px;
        position: absolute;
        top: 0;
        left: 0;
    }
  }

