.media__slider-items {
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-left: 20px;
}

.media__slider-items::-webkit-scrollbar {
  height: 4px;
  background-color: #fff;

}

.media__slider-items::-webkit-scrollbar-thumb {
  background-color: #323232;
}

@media screen and (max-width: 1280px) {
  .media__slider-items {
      max-width: 515px;
      max-height: 296px;
      margin-left: 12px;
  }
}
