@media screen and (max-width: 768px) {
.footer__column_row {
<<<<<<< HEAD
    display: flex;
    flex-direction: row;
=======
>>>>>>> 750009c2f00ee97d288ce8fcda4a1b95a6654a33
    justify-self: end;
}
}

@media screen and (max-width: 525px) {
  .footer__column_row {
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-bottom: 24px;
  }
  }
